/* ===== NAVBAR ===== */
.header {
    background: #1b1c1f;
    border-bottom: 1px solid var(--border);
    padding: 12px 0;
    margin-bottom: 20px;
    border-radius: 20px;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text);
    font-size: 18px;
}

.nav-left i {
    color: var(--primary);
}

.nav-link {
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

.nav-link:hover {
    color: var(--primary);
}

/* ===== FOOTER ===== */
.footer {
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    color: var(--muted);
    font-size: 14px;
}
